/**
 * @author Alexander Marenin
 * @date January 2014
 */


html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans';
    color: @color-header;
}

h1, h2, h3, .h1, .h2, .h3 {
    font-weight: 100;
}

h1 {
    font-size: 2.3em;
}

body {
    font-family: 'Open Sans';

    #wrap {
        min-height: 100%;
        height: auto;
        margin: 0 auto -40px;
        padding: 0 0 40px;
    }
    & > footer {
        margin: 0;
        padding: 10px;
        height: 40px;
        background-color: rgb(35, 31, 32);
        color: @color-text-white;
    }
}

header.main {
    overflow: hidden;
    background-color: @color-bg-black;
    padding: 25px 0;
    .container > div {
        padding: 10px 0;
    }

    h1 {
        margin: 0;
        color: @color-blue;
    }

    .actions {
        text-align: center;
        a {
            color: @color-blue;
            display: inline-block;
            padding: 7px;
            i {
                font-size: 1.6em;
            }
            &:hover {
                color: @color-text-white;
                background-color: @color-blue;
            }
        }
    }

    .input-group {
        input, span {
            border-color: @color-blue;
            background-color: @color-bg-black;
            color: @color-blue;

        }
        input {
            border-right-width: 0;
        }
        input:focus {
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        span {
            cursor: pointer;
            border-left-width: 0;
        }
    }
}

section.main-menu {
    color: @color-text-white;
    background-color: @color-bg-dark-grey;
    menu {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        li {
            vertical-align: top;
            float: left;
            cursor: pointer;
            padding: 10px 20px;
            &.active, &:hover {
                background-color: @color-blue;
            }
            i {
                font-size: 1.5em;
                padding-right: 0.4em;
            }
        }
    }
}

section.page-caption {
    background-color: @color-bg;
    padding: 25px 20px 0 20px;

    .container > div {
        padding-top: 25px;
        padding-bottom: 15px;
    }

    h1 {
        margin: 0;
    }

    .nav, .nav a, .nav a:hover {
        border-width: 0px;
    }

    #date-button {
        background-color: @color-red;
        color: @color-text-white;
        width: 200px;

        &:focus {
            -webkit-box-shadow: none;
            box-shadow: none;
            outline: none;
        }

        span {
            vertical-align: middle;
            display: inline-block;
        }

        i {
            display: inline-block;
            vertical-align: middle;
            padding-left: 0.3em;
            font-size: 1em;
        }
    }

    .calendar-container {
        overflow: hidden;
        width: 550px;
    }

    .popover {
        max-width: 550px;
    }
    .popover-content {
    }

    .xdsoft_datepicker {
        float: left;
    }

    .xdsoft_timepicker {
        float: left;
    }
}
