/**
 * @author Alexander Marenin
 * @date December 2013
 */

@fonts-path: '../fonts/';

@color-blue: #3CB4E6;
@color-blue2: #00A0DB;
@color-red: #EB4A38;

@color-text-white: #f7f8f9;
@color-header: @gray;
@color-border: @nav-tabs-border-color;

@color-bg: #F3F3F3;
@color-bg-black: black;
@color-bg-white: white;
@color-bg-dark-grey: #323B44;
@color-bg-menu: #334960;

@border-radius: 5px;